# Admin credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
# HipChat notifications
# Git repo url for the seed jobs which uses the groovy job dsl plugin
SEED_JOBS_URL=https://github.com/<you>/ci
# Public SSH key to clone git repositories
SEED_CREDS_ID=ssh_creds_id