# Admin credentials
ADMIN_USERNAME=nimda
ADMIN_PASSWORD=adm!n
# HipChat notifications
HIPCHAT_TOKEN=1234567890azertyuiop0987654321
# Public SSH key to clone git repositories
SEED_CREDS_ID=ssh_creds_id
